{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<div class="bg-white flex justify-center items-center max-h-screen m-20">
    <div class="w-full flex-col justify-center bg-white rounded-lg shadow-lg p-4 mb-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="text-xl font-bold text-center m-4">Reservation</h2>
 </div>

        <div class="flex justify-center">
    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom :</th>
                <td>{{ reservation.nom }}</td>
            </tr>
            <tr>
                <th>Prenom :</th>
                <td>{{ reservation.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone :</th>
                <td>{{ reservation.telephone }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{ reservation.email }}</td>
            </tr>
            <tr>
                <th>Message :</th>
                <td>{{ reservation.message }}</td>
            </tr>
            <tr>
                <th>DateEnvoi :</th>
                <td>{{ reservation.dateEnvoi ? reservation.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Rgpd :</th>
                <td>{{ reservation.rgpd ? reservation.rgpd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
 </div>

   <div class="flex justify-center flex-col mt-4">
  <div class="flex justify-center mt-4">
    <a href="{{ path('app_reservation_index') }}"><button  class="  w-auto bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Retour</button></a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}"><button class="btn w-20 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 ml-2 rounded-md ">editer</button></a>
  </div>

  <div class="flex justify-center mt-4">
    {{ include('reservation/_delete_form.html.twig') }}
     </div>
</div></div>
</div>
{% endblock %}
