<nav class="bg-white flex justify-center p-4 sticky top-0 z-50 ">
    <div class="container mx-auto flex justify-center items-center">
        <div class="hidden sm:flex space-x-4 text-green-700 ">
            <a href="{{ path('app_home') }}" class="hover:text-gray-700 text-xl sm:text-lg font-bold">Accueil</a>

            <div class="boutonDeroulant relative">
            <div class= "flex flex-row">
                <button class=" text-green-700 hover:text-gray-700 flex items-center text-xl sm:text-lg font-bold">
                    Notre Carte
                </button>
                <i class="fa-solid fa-caret-down items-center"></i>
            </div>
                <div class="menuDeroulant hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1">
                    <a class="block px-4 w-full py-2 text-gray-700 hover:bg-gray-200 text-xl sm:text-lg font-bold" href="{{ path('app_font_entree') }}">Entrée</a>
                    <a class="block px-4 w-full py-2 text-gray-700 hover:bg-gray-200 text-xl sm:text-lg font-bold" href="{{ path('app_font_plat') }}">Plat</a>
                    <a class="block px-4 w-full py-2 text-gray-700 hover:bg-gray-200 text-xl sm:text-lg font-bold" href="{{ path('app_font_dessert') }}">Dessert</a>
                </div>
            </div>
            <a href="{{ path('app_font_menu') }}" class="hover:text-gray-700 text-xl sm:text-lg font-bold">Menu</a>
            <a href="{{ path('app_font_boisson') }}" class="hover:text-gray-700 text-xl sm:text-lg font-bold">Nos Boissons</a>
            <a href="{{ path('app_font_vin') }}" class="hover:text-gray-700 text-xl sm:text-lg font-bold">Notre carte de vin</a>
            <a href="{{ path('app_home') }}#form" class="hover:text-gray-700 text-xl sm:text-lg font-bold">Contact</a>
        </div>

        <div class="sm:hidden">
            <button id="mobileMenuButton" onclick="mobileMenuButton()" class="text-green-700 text-xl hover:text-gray-700">Menu <i class="fa-solid fa-bars"></i></button>
           
        </div>
    </div>
    <div id="mobileMenu" class="hidden text-xl flex flex-col text-green-700">
        <a href="{{ path('app_home') }}" class="hover:text-gray-700 m-2">Accueil</a>
        <a href="{{ path('app_font_entree') }}" class="hover:text-gray-700 m-2">Entrée</a>
        <a href="{{ path('app_font_plat') }}" class="hover:text-gray-700 m-2">Plat</a>
        <a href="{{ path('app_font_dessert') }}" class="hover:text-gray-700 m-2">Dessert</a>
        <a href="{{ path('app_font_menu') }}" class="hover:text-gray-700 m-2">Menu</a>
        <a href="{{ path('app_font_boisson') }}" class="hover:text-gray-700 m-2">Nos Boissons</a>
        <a href="{{ path('app_font_vin') }}" class="hover:text-gray-700 m-2">Notre carte de vin</a>
        <a href="{{ path('app_home') }}#form"sy class="hover:text-gray-700 m-2">Contact</a>
    </div>
</nav>

<script>function mobileMenuButton() {
    console.log("coucou");

    const mobileMenu = document.getElementById('mobileMenu');
    mobileMenu.classList.toggle('hidden');
}</script>